  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-1">
        <h4 class="text-center" style="background-color: #EEEEEE;">注文履歴詳細</h4>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <table class="table">
          <tr>
            <th class="table-noborder">購入者</th>
            <td class="table-noborder"></td>
            
          </tr>
          <tr>
            <th class="table-noborder">配送先</td>
            <td class="table-noborder">〒<%= @order.shipping_postal_code %></td>
            <td class="table-noborder"><%= @order.shipping_address %></td>
          </tr>
          <tr>
            <th class="table-noborder"></th>
            <td class="table-noborder"><%= @order.shipping_name %></td>
          </tr>
          <tr>
            <th class="table-noborder">支払い方法</th>
            <td class="table-noborder">
              <% if @order.payment_method == "credit" %>
							クレジットカード
						  <% elsif @order.payment_method == "bank" %>
							銀行振り込み
						  <% else %>
							エラー
						  <% end %>
            </td>
          </tr>
          <tr>
            <%= form_for(@order, url:admin_order_path) do |f| %>
            <th class="table-noborder">注文ステータス</th>
            <td class="table-noborder">
              	<%= f.collection_select(:genre_id, Genre.all, :id, :name, {},{class: "col-md-10"}) %>
							<%= f.radio_button :order_received_status, :waiting %>
							<%= f.label '入金待ち' %>
							
							<%= f.radio_button :order_received_status, :payed %>
							<%= f.label '入金確認' %>
					
							<%= f.radio_button :order_received_status, :making %>
							<%= f.label '制作中' %>
						  
							<%= f.radio_button :order_received_status, :preparing %>
							<%= f.label '発送準備中' %>
						 
							<%= f.radio_button :order_received_status, :sent %>
							<%= f.label '発送済み' %>
            </td>
            <td><%= f.submit '更新', class:"btn btn-primary" %></td>
            <% end %>
          </tr>
        </table>
      </div>    
    </div>
    <div class="row">
      <div class=""
    </div>
  </div>