<h2>商品一覧</h2>
<%= link_to "商品新規登録画面へ", new_admin_product_path %>
		<!--books一覧 -->
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>商品ID</th>
					<th>商品名</th>
					<th>税抜価格</th>
					<th>ジャンル</th>
					<th>ステータス</th>
				</tr>
			</thead>

			<tbody>
				<% @products.each do |product| %>
				<tr>
					<td><%= product.id %></td>
					<td><%= link_to product.name, admin_product_path(product) %></td>
					<td><%= product.price_excluding_tax %></td>
					<td><%= product.genre.name %></td>
					<td><%#= product.is_active %>
						<% if product.is_active == "Availble"  %>
             <%= "販売中" %>
             <% else %>
              <%= "売り切れ" %>
             <% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>

