<div class="container">
	<div class="row">
		<br>
		<%= form_with model:@product, url: '/admin/products', method: :post, class: "form-horizontal", local: true do |f| %>
			<div class="col-md-3">
				<div class="field">
				  	<%= attachment_image_tag(@product, :image, fallback: "no_image.jpg", size: "250x250") %>
					<%= f.attachment_field :image, class: "user_image" %>
				</div>
			</div>

			<div class="col-md-9">
				<br>
				<br>
				<br>
				<br>
				<div class="field form-group">
					<label class="col-md-2 control-label" for="InputEmail">商品名</label>
						<div class="col-md-10">

							<%= f.text_field :name, class: "name" %>
						</div>
				</div>

				<div class="field form-group">
					<label class="col-md-2 control-label" for="InputEmail">商品説明</label>
						<div class="col-md-10">

							<%= f.text_area :discription, class: "discription" %>
					</div>
				</div>

				<div class="field form-group">
					<label class="col-md-2 control-label" for="InputEmail">ジャンル</label>
						<div class="col-md-3">

							<%= f.collection_select(:genre_id, Genre.all, :id, :name, {},{class: "col-md-10"}) %>
						</div>
				</div>

				<div class="field form-group">
					<label class="col-md-2 control-label" for="InputEmail">税抜き価格</label>
						<div class="col-md-10">

							<%= f.text_field :price_excluding_tax, class: "tax" %>
						</div>
				</div>

				<div class="field form-group">
					<label class="col-md-2 control-label" for="InputEmail">販売ステータス</label>
						<div class="col-md-10">
				      		<%= f.select :is_active, [['販売中', :Availble ],['売り切れ', :Invalid ]], { include_blank: true } %>
	      				</div>
				</div>

				<div class="actions form-group" align="right">
					<div class="col-md-offset-2 col-md-10">
						<%= f.submit '商品新規登録', class:"btn btn-info btn-md" %>
					</div>
				</div>
			</div>

		<% end %>
	</div>
</div>