<div class="container">
	<div class="row">

		<h2>商品詳細</h2>

		<div class="col-lg-3">
						<%= attachment_image_tag(@product, :image, fallback: "no_image.jpg", size: "250x250") %>
		</div>
		<div class="col-lg-9">
			<table class="table table-hover">
				<tbody>
					<tr>
						<th>商品名</th>
						<td><%= @product.name %></td>

					</tr>
					<tr>
						<th>商品説明</th>
						<td><%= @product.discription %></td>
					</tr>
					<tr>
						<th>ジャンル</th>
						<td><%= @product.genre.name %></td>
					</tr>
					<tr>
						<th nowrap>税込価格(税抜価格)</th>
						<td><%= @product.including_tax %>円(<%= @product.price_excluding_tax %>)円</td>
					</tr>
					<tr>
						<th nowrap>販売ステータス</th>
						<td>
							<% if @product.is_active == "Availble"  %>
					        <%= "販売中" %>
					        <% else %>
					        <%= "売り切れ" %>
					        <% end %>
	     			</td>
					</tr>
					<tr>
						<th> </th>
						<td align="right">
							<%= link_to "編集ページへ", edit_admin_product_path, class:"btn btn-info btn-md" %>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>